.card {
  margin-top: 2rem;
  background-color: #fafd7cff !important;
}
.card-image {
  height: 250x;
  width: 150px;
}
.character-status {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
}
.search-field {
  font-family: "Creepster", cursive;
  border: none;
  width: 100%;
  height: 70px;
  background-color: #917c5dff;
  padding: 1rem;
  font-size: 35px;
  color: white !important;
}
@media screen and (max-width: 768px) {
  .character-status {
  }
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Creepster", cursive;
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: "Creepster", cursive;
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: "Creepster", cursive;
  color: white;
}

.scrollTop {
  position: fixed;
  width: 80px !important;
  bottom: 20px;
  right: 20px;
  align-items: center;
  height: 80px !important;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}
.scrollTop:hover {
  opacity: 1;
}
